body {
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 16px;
	font-weight: 200;
}

#app {
	max-width: 1024px;
	margin: 0 auto;
}

.pageTitle {
	font-weight: bold;
    color: #424242;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}