.popup {
	position: absolute;
    background-color: #FFE0B2;
    display: none;
    top: 40px;
    right: 40px;
    color: #555;
    font-size: 14px;
    min-width: 200px;
    min-height: 70px;
    padding: 10px;
	border-radius: 8px;
}

.popup.visible {
	display: block;
}

.popup .info-wrapper > *{
	display: inline-block;
	vertical-align: top;
}

.info-wrapper .info-labels-wrapper {
	float: left;
	text-align: left;
	font-weight: 400;
}

.info-wrapper .info-values-wrapper {
	float: right;
	text-align: right;
}

.info-wrapper .info-labels-wrapper > *, .info-wrapper .info-values-wrapper > * {
	margin: 2px 0px;
}